.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.card {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: solid black;
  border-radius: 10px;
}

.products-container-realtime {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
  margin-bottom: 20px;
}
.card-realtime {
  background-color: lightblue;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: solid black;
  border-radius: 10px;
}
/*Formulario*/
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 50%;
}
.input-style {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/*Button form*/
.form-button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.form-button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form-button:active {
  transform: translate(0em, 0.2em);
}

/*chat styles*/
.inputSendGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  width: 100%;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-80%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}
.button-send {
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.button-send:hover {
  background-color: rgb(173, 230, 229);
  border: solid black;
  border-radius: 10px;
}
.chat {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}
/*fin chat styles*/
