<div class="login-singup-container">
  <div class="login-singup">
    <button> <a href="/api/sessions/login">Inicio de sesion</a></button>
    <button><a href="/api/sessions/register">Registrarme</a></button>
  </div>
</div>