<div>
  <div>
    <h1>Prueba de chat</h1>
  </div>
  <div id="chat-msg" class="chat">
    Loading...
  </div>

  <div class="inputSendGroup">
    <div class="inputGroup">
      <input id="chatBox" type="text" required="" />
      <label for="name">mensaje</label>
    </div>
    <button id="send-button" class="button-send">Enviar</button>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/test-chat.js"></script>