<div class="w-100 mt-4">
  <form class="m-auto h-80" method="post" action="/">
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="form5Example1" class="form-control" />
      <label class="form-label" for="form5Example1">Nueva contraseña</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form5Example2" class="form-control" />
      <label class="form-label" for="form5Example2">Repetir contraseña</label>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
    >Cambiar</button>
  </form>
</div>