<form class="form" action="/register" method="post">
  <div>
    <input type="text" name="first_name" required />
    <label>Nombre</label>

  </div>
  <div>
    <input type="text" name="last_name" required />
    <label>Apellido</label>
  </div>
  <div>
    <input type="text" name="username" required />
    <label>Nombre de usuario</label>
  </div>
  <div>
    <input type="email" name="email" required />
    <label>Email</label>
  </div>
  <div>
    <input type="text" name="age" required />
    <label>Edad</label>
  </div>
  <div>
    <input type="password" name="password" required />
    <label>Contraseña</label>
  </div>
  <p>
    Ya esta registrado?
    <a href="/api/sessions/login">Inicie aquí</a>
  </p>
  <button type="submit">Registrarse
  </button>
</form>