<form action="/api/sessions/register" method="post">
  <input type="text" name="user" id="user" placeholder="Nombre de usuario" />
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Contraseña" />
  <button type="submit">Registrarme</button>
</form>